[submodule "AutomatedAttackScript"]
	path = AutomatedAttackScript
	url = https://github.com/RTvsBT/AutomatedAttackScript.git
[submodule "VulnerableWebsite"]
	path = VulnerableWebsite
	url = https://github.com/RTvsBT/VulnerableWebsite.git
[submodule "AnsiblePlaybooks"]
	path = AnsiblePlaybooks
	url = https://github.com/RTvsBT/AnsiblePlaybooks.git
[submodule "RedteamDashboardBackend"]
	path = RedteamDashboardBackend
	url = https://github.com/RTvsBT/RedteamDashboardBackend.git
[submodule "Ransomware"]
	path = Ransomware
	url = https://github.com/RTvsBT/Ransomware.git
